* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 100vh;
}

#back {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#workingarea {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}

#nav a {
    pointer-events: all;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}


#nav img {
    height: 60px;
}



#nleft,
#nright {
    display: flex;
    align-items: center;
    gap: 55px;
}


#hero {
    position: absolute;
    justify-content: space-between;
    display: flex;
    transform: translate(0%, -50%);
    top: 57%;
    left: 0;
    width: 100%;
}

#heroleft {
    min-width: 50%;
}

#heroleft .elem {
    position: relative;
    height: 9vw;
    overflow: hidden;
}

#heroleft .elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size: 11vw;

}

#heroleft .elem h1:nth-child(1) {
    top: 0;
}

#heroleft button {
    pointer-events: all;

    padding: .9vw 3vw;
    margin-top: 2vw;
    font-size: 3.1vw;
    border-radius: 6px;
    border: none;
    font-family: "kajiro";
    background-color: white;
    letter-spacing: 1.3px;
}

#heroleft button:hover {
    cursor: pointer;
}




#heroright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: white;
}

#heroright p {
    font-weight: 300;
    font-size: 1.2vw;
    text-align: right;

}

#heroright p:nth-child(3) {
    margin-bottom: 30px;
}

#heroright #imagediv {
    width: 100%;
    height: 170px;
    margin-top: 13px;
    margin-bottom: 19px;
    background-image: url(img/right-img.jpeg);
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 5px;
}
